<!DOCTYPE html>
<html>
<head>
    <meta  http-equiv='Content_type'
           content='text/html;charset=UTF-8'>
          <title>Добавление обьявления -Доска обьявлений</title>
</head>
<body>
    <h1>Добавление обьявления</h1>
    <div>
        <a href="'{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
        <a href="'{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>

</body>
</html>